.block-editor-block-list__block {
    .tabs-block {
        width: 1140px;
        background: #ffffff;
        padding-right: 62px;
        padding-left: 62px;
        &__tabs-list {
            padding: 0;
            border-bottom: 1px solid #C4C4C4;
        }

        &__tabs-item {
            list-style: none;
            display: inline-block;
            padding: 14px;
            font-size: 24px;
            color: #666666;

            &--active {
                border-bottom: 3px solid #0EB5C7;
                font-weight: bold;            
            }
        }
    }
}

div[data-type="waldos-blocks/tabs-block"] > .wp-block .block-editor-block-list__layout .wp-block {
    margin-left: 0;
}
